:root {
  --color-black: #1b1b1d;
  --color-blue: #40a7e3;
  --color-light-blue: #e7f2fa;
  --color-gray: #808080;
  --color-light-gray: #f0f3f6;
  --color-white: #ffffff;
  --color-border: #e2e6f1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button,
input,
select,
textarea {
  outline: none;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100dvh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.main__inner {
  padding: 20px 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.48px;
  background-color: var(--color-blue);
  color: var(--color-white);
  min-height: 60px;
  padding: 12px 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}

.title span {
  color: var(--color-blue);
}

.header {
  width: 100%;
  padding: 12px;
  min-height: 56px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header__back {
  width: 30px;
  height: 30px;
}

.header__title {
  font-size: 20px;
  letter-spacing: 0.4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-left: 45px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.header__btn {
  width: 30px;
  height: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

.hero__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hero__list li > img {
  width: 40px;
  height: 40px;
}

.hero__list li p {
  font-size: 16px;
  letter-spacing: 0.48px;
}

.hero__list li h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;
}

.hero__help .hero__title {
  margin-bottom: 14px;
}

.hero__help .hero__list {
  gap: 12px;
}

.hero__stats {
  padding: 20px 10px 16px;
  background-color: var(--color-light-gray);
  border-radius: 14px;
}

.hero__stats--title {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  /* 20.8px */
  letter-spacing: 0.48px;
  margin-bottom: 12px;
  text-align: center;
}

.hero__stats--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.hero__stats--list li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.hero__stats--list li p {
  font-size: 30px;
  font-weight: 700;
}

.hero__stats--list li span {
  font-size: 16px;
  color: var(--color-gray);
  font-weight: 400;
  line-height: 130%;
  /* 20.8px */
  letter-spacing: 0.48px;
}

.hero__bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  /* 20.8px */
  letter-spacing: 0.48px;
}

.catefories__list {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.catefories__list--label {
  border: 2px solid var(--color-border);
  padding: 7px 12px;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.catefories__list--label p {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
  color: var(--color-gray);
}

.catefories__list--label.checked {
  border-color: var(--color-blue);
}

.catefories__list--label.checked .catefories__list--checkbox img {
  opacity: 1;
}

.catefories__list--label.checked p {
  color: var(--color-black);
}

.catefories__list--checkbox {
  max-width: 40px;
  width: 100%;
  height: 40px;
}

.catefories__list--checkbox input {
  opacity: 0;
  position: absolute;
}

.catefories__list--checkbox img {
  opacity: 0;
}

.result__img {
  max-width: 240px;
  width: 100%;
  margin: 30px auto 25%;
}

.result__block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
}

.result__block--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 5px;
}

.result__block--list p {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
}

.result__block--list span {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
  color: var(--color-gray);
}

.subscribtion__img {
  max-width: 150px;
  width: 100%;
  margin: 40px auto 30px;
}

.subscribtion__list {
  margin: 36px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.subscribtion__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.subscribtion__list--item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
}

.subscribtion__list--img {
  max-width: 40px;
  width: 100%;
  height: 40px;
}

.subscribtion__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.subscribtion__select--option {
  padding: 12px;
  border-radius: 14px;
  background-color: var(--color-light-gray);
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribtion__select--option.active {
  border-color: var(--color-blue);
}

.subscribtion__select--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.subscribtion__select--left p {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.6px;
  color: var(--color-black);
}

.subscribtion__select--left span {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.6px;
  color: var(--color-blue);
}

.subscribtion__select--price {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
  color: var(--color-blue);
}

.jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.jobs__header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  /* 18.2px */
  letter-spacing: 0.28px;
  z-index: 20;
  padding: 11px;
}

.jobs__header span {
  font-weight: 700;
}

.jobs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid var(--color-border);
  background: var(--color-white);
}

.jobs__card--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jobs__card--header p,
.jobs__card--header span {
  width: 50%;
}

.jobs__card--header p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 20.8px */
  letter-spacing: 0.48px;
  color: var(--color-gray);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.jobs__card--header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 18.2px */
  letter-spacing: 0.28px;
  color: var(--color-gray);
}

.jobs__card--header span img {
  max-width: 14px;
  width: 100%;
  height: 14px;
}

.jobs__card--body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
}

.jobs__card--fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jobs__card--apply {
  padding: 12px 30px;
  background-color: var(--color-light-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 20.8px */
  letter-spacing: 0.48px;
  color: var(--color-black);
}

.jobs__card--apply img {
  width: 16px;
  height: 16px;
}

.jobs__loadmore {
  padding: 12px;
  width: 100%;
  min-height: 54px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.6px;
  color: var(--color-black);
  background-color: var(--color-light-gray);
  border-radius: 14px;
}